<div class="header">
  <img src="assets/img/pokeball.png" alt="" class="header__icon" routerLink=''>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="./"
           class="header__nav-link">Главная</a>
      </li>
      <li class="header__nav-item">
        <a routerLinkActive="active" routerLink="pokemon-list" class="header__nav-link">Список покемонов</a>
      </li>
      <li class="header__nav-item">
        <a routerLinkActive="active" routerLink="tags-list" class="header__nav-link">Список тэгов</a>
      </li>
    </ul>
  </nav>
</div>

