.pokemon-form {
  position: relative;

  &__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding: 17px;
    color: rgb(0 13 188 / 64%);

  }

  &__form-group {
    display: flex;
    justify-content: center;
  }

  &__info-container {
    order: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 70%;
  }

  &__image-container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__input {
    display: block;
    margin-bottom: 10px;
  }

  &__button {
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    background: #7788ff;
    opacity: .8;
    cursor: pointer;

    &:hover {
      opacity: 1;
      scale: 1.02;
    }
  }

  &__submit-button {
    margin-bottom: 50px;
  }

  &__deleteImg-button {
    padding: 5px;
    border-radius: 20px;
    background: #7788ff;
    opacity: .8;
    cursor: pointer;

    &:hover {
      opacity: 1;
      scale: 1.02;
    }
  }

  img {
    border: 1px dashed #9393f0;
    padding: 20px;
  }
}

.error {
  &__info {
    color: #ff0014;
  }
}

.abilities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ability-container {
  flex: 1.5;
  min-width: 250px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__input {
    width: 99%;
    margin-bottom: 10px;
  }

  &__remove-button {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__remove-button-line {
    position: absolute;
    display: block;
    top: 35%;
    width: 20px;
    background: #ff0000;
    height: 2px;

    &:last-child {
      transform: rotate(45deg);
    }

    &:first-child {
      transform: rotate(-45deg);
    }
  }

}


@media screen and (max-width: 800px) {
  .pokemon-form {
    &__form-group {
      flex-direction: column;
    }

    &__info-container {
      width: 100%;
    }

    &__image-container {
      margin-bottom: 10px;
      padding: 10px 20px;
      justify-content: center;
      align-items: flex-end;
      flex-direction: row;
    }

    &__image-container-input-img {
      width: 100%;
    }

  }
}
