<div class="pokemon-form">
  <h1 class="pokemon-form__title">
    {{pokemonId === 'new' ? 'Создание' : 'Редактирование'}} покемона
  </h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="pokemon-form__form-group">
    <div class="pokemon-form__info-container">
    <div class="pokemon-form__input">
      <tui-input formControlName="name">
        Название*
        <input
          tuiTextfield
          type="text"
        />
      </tui-input>
      <div class="error" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        <small class="error__info">
          Поле обязательное для ввода
        </small>
      </div>
    </div>

    <div class="pokemon-form__input">
      <tui-input formControlName="height">
        Рост*
        <input
          tuiTextfield
          type="number"
        />
      </tui-input>
      <div class="error" *ngIf="form.get('height')?.invalid && form.get('height')?.touched">
        <small class="error__info">
          Поле обязательное для ввода
        </small>
      </div>
    </div>

    <div class="pokemon-form__input">
      <tui-input formControlName="weight">
        Вес*
        <input
          tuiTextfield
          type="text"
        />
      </tui-input>
      <div class="error" *ngIf="form.get('weight')?.invalid && form.get('weight')?.touched">
        <small class="error__info">
          Поле обязательное для ввода
        </small>
      </div>
    </div>

    <div class="pokemon-form__input">
      <tui-input-count formControlName="level">
        Уровень*
        <input tuiTextfield/>
      </tui-input-count>
      <div class="error" *ngIf="form.get('level')?.invalid && form.get('level')?.touched">
        <small class="error__info">
          Поле обязательное для ввода
        </small>
      </div>
    </div>

    <div class="pokemon-form__input">
      <tui-input-count formControlName="hp">
        Здоровье*
        <input tuiTextfield/>
      </tui-input-count>
      <div class="error" *ngIf="form.get('hp')?.invalid && form.get('hp')?.touched">
        <small class="error__info">
          Поле обязательное для ввода
        </small>
      </div>
    </div>

    <div class="pokemon-form__input">
      <tui-input-count formControlName="attack">
        Урон*
        <input tuiTextfield/>
      </tui-input-count>
      <div class="error" *ngIf="form.get('attack')?.invalid && form.get('attack')?.touched">
        <small class="error__info">
          Поле обязательное для ввода
        </small>
      </div>
    </div>

    <div class="pokemon-form__input">
      <tui-input-count formControlName="defend">
        Защита*
        <input tuiTextfield/>
      </tui-input-count>
      <div class="error" *ngIf="form.get('defend')?.invalid && form.get('defend')?.touched">
        <small class="error__info">
          Поле обязательное для ввода
        </small>
      </div>
    </div>

    <div class="pokemon-form__input">
      <tui-input-count formControlName="stamina">
        Выносливость*
        <input tuiTextfield/>
      </tui-input-count>
      <div class="error" *ngIf="form.get('stamina')?.invalid && form.get('stamina')?.touched">
        <small class="error__info">
          Поле обязательное для ввода
        </small>
      </div>
    </div>

    <div class="pokemon-form__input">
      <tui-input-count formControlName="spd">
        Скорость*
        <input tuiTextfield/>
      </tui-input-count>
      <div class="error" *ngIf="form.get('spd')?.invalid && form.get('spd')?.touched">
        <small class="error__info">
          Поле обязательное для ввода
        </small>
      </div>
    </div>

    <div class="pokemon-form__input">
      <tui-input formControlName="description">
        Описание*
        <input
          tuiTextfield
          type="text"
        />
      </tui-input>
      <div class="error" *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
        <small class="error__info">
          Поле обязательное для ввода
        </small>
      </div>
    </div>

    <div class="pokemon-form__input">
      <tui-multi-select
        [stringify]="stringify"
        placeholder="Ignored text"
        class="b-form"
        formControlName="tags"
        [editable]="false"
      >
        Список тэгов
        <tui-data-list-wrapper
          *tuiDataList
          [items]="tags"
          [itemContent]="itemContent"
        ></tui-data-list-wrapper>
      </tui-multi-select>
      <div class="error" *ngIf="form.get('tags')?.invalid && form.get('tags')?.touched">
        <small class="error__info">
          Необходимо добавить хотя бы один тэг
        </small>
      </div>
      <ng-template
        #itemContent
        let-tag
      >
        <div class="template">
          {{ tag.name }}
        </div>
      </ng-template>
    </div>

    <div class="pokemon-form__input">
      <div formArrayName="abilities" class="abilities-container">
        <div *ngFor="let abilities of skill.controls; let idx = index" class="ability-container">
          <tui-input [formControlName]="idx" class="ability-container__input">
            Умение №{{idx + 1}}*
            <input
              tuiTextfield
              type="text"

            />
          </tui-input>
          <div (click)="deleteSkill(idx)" class="ability-container__remove-button">
            <span class="ability-container__remove-button-line"></span>
            <span class="ability-container__remove-button-line"></span>
          </div>
        </div>
      </div>
      <div class="error" *ngIf="form.get('abilities')?.invalid && form.get('abilities')?.touched">
        <small class="error__info">
          Необходимо заполнить все поля с умениями
        </small>
      </div>
      <button type="button" (click)="addSkill()" class="pokemon-form__button">
        Добавить умение *
      </button>
    </div>
      <button
        tuiButton
        type="submit"
        class="pokemon-form__submit-button"
        [disabled]="form.invalid"
        [showLoader]=isSaving
      >
        {{pokemonId === 'new' ? 'Создать' : 'Редактировать'}}
      </button>
    </div>

    <div class="pokemon-form__image-container">
    <div *ngIf="!form.get('staticImageUrl').value; else pokemonImage" class="pokemon-form__image-container-input-img">
      <tui-input-files
        accept="image/*"
        formControlName="staticImage"
        (reject)="onReject($event)"
      ></tui-input-files>

      <tui-files class="tui-space_top-1 ">
        <tui-file
          *ngIf=" form.get('staticImage').valueChanges| async as file"
          [file]="file"
          (removed)="removeFile()"
        ></tui-file>
      </tui-files>
    </div>

    <ng-template #pokemonImage>
      <img [src]="form.get('staticImageUrl').value" [alt]="form.get('name').value">
      <button type="button" class="pokemon-form__deleteImg-button" (click)="onRemoveImage()">Удалить изображение</button>
    </ng-template>
</div>
  </form>
</div>
