<div class="pokemon-list">

  <div class="container">
    <div class="pokemon-list__cards">
      <div class="pokemon-list__search">
        <input id="search" type="text" placeholder="Search your Pokemon" class="pokemon-list__search-input">
        <button
          tuiButton
          type="button"
          icon="tuiIconSearch"
          appearance="accent"
          class="pokemon-list__search-button tui-space_right-1 tui-space_bottom-3"
          size="s"
        >
        </button>
      </div>
      <div>
        <ul class="pokemon-list__items">
          <li class="pokemon-list__item" *ngFor="let pokemon of pokemons"
              (click)="onSelectPokemon(pokemon.id, pokemon.tags)">
            <pok-pokemon-card
              [pokemon]="pokemon"
            ></pok-pokemon-card>
          </li>
        </ul>
      </div>
      <ng-container *ngIf="isLoading">
        <ng-container *ngTemplateOutlet="loading"></ng-container>
      </ng-container>
    </div>
  </div>
  <div class="pokemon-list__info">
    <pok-pokemon-info
      [pokemonId]="selectedPokemonId"
    >
    </pok-pokemon-info>
  </div>
  <div class="pokemon-list__info-mobile" [style.background-color]="tagColor" [class.active]="selectedPokemonId">
    <pok-pokemon-info-mobile
      [pokemonId]="selectedPokemonId"
      (closeMenu)="closeMenu()"
    >
    </pok-pokemon-info-mobile>
    <ng-template #loading>
      <div class="animations-container">
        <div class="yellow animation"></div>
        <div class="red animation"></div>
        <div class="blue animation"></div>
        <div class="violet animation"></div>
      </div>
    </ng-template>
  </div>
</div>
