@import "src/assets/styles/reset";


body{
  background: #F6F8FC url('https://js-pokedex-virid.vercel.app/src/pokeball-icon.png') no-repeat -180px -80px ;
}

.t-wrapper[data-appearance='danger'] {
    background: #FF3041;
    color: #fff;

    &[data-state='hovered'] {
      background: #FF5B47;
    }

    &[data-state='pressed'] {
      background: #FF5B2E;
    }

    &[data-state='disabled'] {
      background: #FF8986;
    }
  }
.html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
